body{
    background-color: black;
    opacity: 0.9;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}
#block1 {
  background-image: url("/netflixclone/netflix-images/block1.jpg");
margin: 0%;
padding: 0%;
height: 600px;
}
#navigation ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
 display: flex;
padding-top: .5rem;
  
}
#p1,#p2, #hea1{
  color: aliceblue;
  text-justify: center;
}
#navigation li {
  float: right;
}

#navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.logo {
  float: left !important;
}
.logo-img{
  height: 40px;
}
.signin {
  background-color: red;
  border-radius: 5px;
  
  
}
#content{
  display: flex;
 text-align: center;
}
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
   
  }
  .select.dropdown {
    width: 150px;
    display: inline-block;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: left
  }
 .img{
  height: 250px;
 }
 #block2, #block3,#block4{
  display:flex ;
  flex-direction: column;
 }